
.overlay {
  position: fixed;
  inset: 0;
  background: black;
  color: #fff;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: clamp(18px,4vw,32px);
  z-index: 9999;
  user-select: none; 
  -webkit-user-select: none;
}

.phoneFrame {
  width: 400px;
  height: 690px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #000;
  overflow: hidden;
}

@media (max-width: 420px) {
  .phoneFrame {
    width: 100dvw;
    height: 100dvh;
    transform: none;
    top: 0;
    left: 0;
    overflow: visible;
    background: transparent;
  }
}