.wrap {
	width: 75px;
  height: 65px;
  transform: rotate(90deg) scale(0.75);

  @mixin hover {
    & polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrowBottom {
        transform: translateY(-18px);
      }

      &.arrowTop {
        transform: translateY(18px);
      }
    }
  }

  &.right {
    transform: rotate(-90deg) scale(0.75);
  }
}

.polygon {
  fill: #FFF;
  transition: all .2s ease-out;
    
  &.arrowMiddle {
	  opacity: 0.75;
	}

	&.arrowTop {
	  opacity: 0.5
	}	 
}