.wrap {
  position: absolute;
  inset: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.character {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: -5dvh;
  top: 0;
    
  &.body {
    z-index: 1;
  }  
  &.suit {
    z-index: 2;
  }
  &.emo {
    z-index: 3;
  }
}

.Protagonist {
  left: -90px;
  width: 110%;
  height: 110%;
  bottom: -7dvh;
}

.Carolina {
  right: -90px;
  width: 107%;
  height: 107%;
}

.Arthur {
  right: -50px;
  width: 110%;
  height: 110%;
  bottom: -7dvh;
}

.Melissa {
  right: -100px;
  bottom: 0;
}

.Bartender {
  right: -140px;
  width: 110%;
  height: 110%;
}