.full {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  z-index: 100;
}

.card { 
  position: relative;
  width: 100%;
  height: 100dvh;
}

.layer { 
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 0;
}

.ok {
  padding: 8px 24px;
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  grid-area: button;
  justify-self: center;
  align-self: flex-end;

  &.loading {
    pointer-events: none;
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.wrap {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dialogueBox {
  position: absolute;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  z-index: 999;
  width: calc(100% - 32px);
}

.dialogue {
  background: black;
  opacity: 0.8;
  padding: 36px 16px 16px 16px;
  border-radius: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1;
  color: white;
  width: 100%;
  display: grid;
  grid-template-areas: 
    "left-arrow title right-arrow"
    "left-arrow button right-arrow";
  align-items: center;
  grid-row-gap: 32px;
  grid-template-columns: minmax(0, max-content) minmax(180px, 1fr) minmax(0, max-content);
  min-height: 150px;
}

.title {
  color: white;
  border: 1px solid #585858;
  background: black;
  border-radius: 9px;
  padding: 6px 24px;
  width: max-content;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: translateY(-50%);
  max-width: calc(100% - 32px);
  text-align: center;
  font-size: 20px;
}

.arrowRight,
.arrowLeft {
  cursor: pointer;
  z-index: 999;
}

.arrowRight {
  grid-area: right-arrow;
}

.arrowLeft {
  grid-area: left-arrow;
}

.wardrobeItem {
  grid-area: title;
  text-align: center;
  font-size: 20px;
}

.premiumPrice {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4px;
}