.toast {
  position: absolute;
  top: 12px;
  max-width: 80%;
  padding: 10px 16px;
  background: rgba(0,0,0,.6);
  color: #fff;
  border-radius: 16px;
  font-size: 16px;
  pointer-events: none;
  z-index: 110;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-direction: row;
}

.icon {
  left: 12px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}